layout {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    pane split_direction="vertical" {
      pane size="60%" edit="."
      pane size="40%" command="go" {
        args "test"
      }
    }
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
}
